hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape_item {
        display: flex;
        align-items: center;   
        margin: 0.6em 0;    
    }

    .lista-rodape_link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape_titulo {
        font-size: 14px;
        color: var(--cinza-texto);
    }

    .rodape_titulo {
        font-size: 24px;
    }
}